{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{% static 'img/icons/icon-48x48.png' %}" />
	<link href="{% static 'css/app.css' %}" rel="stylesheet">

	<title>Login - Network Automation</title>
</head>

<body>
	<main class="d-flex w-100">
		<div class="container d-flex flex-column">
			<div class="row vh-100">
				<div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">

						<div class="text-center mt-4">
							<h1 class="h2">Login</h1>
							<p class="lead">
								Login to your account proxmox to monitoring server.
							</p>
						</div>


						<!-- flash message -->
						{% for message in messages %}
						<div class="container-fluid p-0">
							<div class="alert {{ message.tags }} alert-dismissible fade show col-12" role="alert">
								{{ message }}
								<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							</div>
						</div>
						{% endfor %}

						<div class="card">
							<div class="card-body">
								<div class="m-sm-3">
									<form method="POST" action="{% url 'login'%}">
										{% csrf_token %}
										<div class="mb-3">
											<label class="form-label">Username</label>
											<input class="form-control form-control-lg" type="text" name="username" id="username" placeholder="Enter your username" />
										</div>
										<div class="mb-3">
											<label class="form-label">Password</label>
											<input class="form-control form-control-lg" type="password" name="password" placeholder="Enter your password" />
										</div>
										<div class="d-grid gap-2 mt-3">
											<button class="btn btn-lg btn-primary" type="submit">login</button>


                                            {% load socialaccount %}
                                                <a href="{% provider_login_url 'google'%}?next=/" class="btn btn-danger">Login with Google</a>

                                            {% if user.authenticated %}
                                                <!-- <a href="{% url 'socialaccount_connections' %}" class="btn btn-warning">Social Account Connections</a> -->

                                                <p>You are signed in as {{ user.email }}</p>
                                            {% endif %}
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<!--   Core JS Files   -->
	<script src="{% static 'js/app.js' %}"></script>
	<!-- JS Bootstrap 5 -->
    <script src="{% static 'bootstrap_5/js/bootstrap.bundle.min.js' %}"></script>


</body>

</html>