<!-- file dari config html -->
{% extends 'main.html' %}
{% load static %}
<!-- wrapping content -->
{% block content %}

    <style>
        /* Z-Index untuk modal */
        .modal {
            z-index: 1041; /* Ubah sesuai kebutuhan */
        }

        /* Z-Index untuk Select2 */
        .select2-container {
            z-index: 1051; /* Lebih tinggi dari modal */
        }

        /* Atur lebar form Select2 agar sama dengan input name */
        /* .select2-container .select2-selection {
            width: 100% !important;
        } */
    </style>



    <!-- tombol tambah -->
    <div class="col-lg-6 col-5 text-right mb-4">
        <a href="{% url 'user'%}" class="btn btn-outline-primary fs-4">User</a>
        <a href="{% url 'groups' %}"  class="btn btn-outline-success fs-4">Groups</a>
        <a href="{% url 'permissions' %}" class="btn btn-outline-warning fs-4">Permissions</a>
        <a href="{% url 'roles' %}" class="btn btn-info fs-4">Roles</a>
    </div>


    <!-- flash message -->
    {% for message in messages %}
    <div class="container-fluid p-0">

        <div class="alert {{ message.tags }} alert-dismissible fade show col-6" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    {% endfor %}

    <div class="row">
        <div class="col">
        <!-- DataTales Example -->
            <div class="card flex-fill">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="card-title mb-0">Data Roles</h5>
                    <a href="#" data-bs-toggle="modal" data-bs-target="#addRole" class="btn btn-primary ml-auto">insert</a>
                </div>

                <div class="table-responsive">
                <table class="table table-hover my-0" id="dataTable" style="width: 100%">
                    <thead>
                        <tr>
                            <th class="d-none d-xl-table-cell" scope="col" width="5%">No</th>
                            <th class="d-none d-xl-table-cell" scope="col" width="30%">Name</th>
                            <th scope="col" width="30%">Privileges</th>
                            <th scope="col" width="15%">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                            {% for row in roles %}  
                                <tr>
                                    <td class="no_urut">{{ forloop.counter }}</td>
                                    <td>{{ row.roleid }}</td>
                                    <td><a href="#" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#privileges{{row.roleid}}"><i class="fa fa-info"></i></a></td>  
                                    <td>
                                        <a href="#" class="btn btn-success btnEdit" data-id="{{row.roleid}}">Edit</a>
                                        <a href="/delete-role/{{ row.roleid }}" class="btn btn-danger delete-role">Delete</a>
                                    </td>  
                                </tr>
                            {% endfor %} 
                    </tbody>
                </table>
                </div>

            </div>
        </div>
    </div>

    <!-- modal privileges -->
    {% for row in roles %}
        <div class="modal fade" id="privileges{{row.roleid}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card bg-white border-0 mb-0">
                            <div class="card-header bg-transparent">
                                <h2 class="card-heading text-center">Privileges</h2>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                <textarea class="form-control" id="message-text" rows="12">{{row.privs}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}


    <!-- modalbox tambah role -->
    <div class="modal fade" id="addRole" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card bg-white border-0 mb-0">
                        <div class="card-header bg-transparent">
                            <h2 class="card-heading text-center">Add Role</h2>
                        </div>
                        <div class="card-body">
                            <form action="/addrole" id="addFormRole" method="post">
                                {% csrf_token %}

                                <!-- Name -->
                                <div class="form-group mb-4">
                                    <div class="input-group input-group-merge input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa-solid fa-id-card fa-2x"></i></span>
                                        </div>
                                        <input class="form-control" name="name" id="name" placeholder="Enter Role Name" type="text" autocomplete="off" value="">
                                    </div>
                                </div>

                                <!-- Privileges -->
                                <div class="form-group" style="margin-bottom: 150px;">
                                    <label for="privileges">Privileges:</label>
                                    <select name="privileges" class="form-control" id="privileges" multiple="multiple">
                                        <option value="">Pilih..</option>
                                        {% for row in privs %}
                                            <option value="{{row}}">{{row}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            
                                <div class="float-start">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                                <div class="float-end">
                                    <button type="submit" class="btn btn-primary" id="addButtonRole">Insert</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end modalbox tambah -->

    <!-- modalbox edit role -->
    <div class="modal fade" id="editRoleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card bg-white border-0 mb-0">
                        <div class="card-header bg-transparent">
                            <h2 class="card-heading text-center">Edit Role</h2>
                        </div>
                        <div class="card-body">
                            <form action="" id="editFormRole" method="post">
                                {% csrf_token %}

                                <input type="text" class="edit_id" hidden>

                                    <!-- Name -->
                                    <div class="form-group mb-4">
                                        <div class="input-group input-group-merge input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa-solid fa-id-card fa-2x"></i></span>
                                            </div>
                                            <input class="form-control" name="edit_name" id="edit_name" placeholder="Enter Role Name" type="text" autocomplete="off" value="" readonly>
                                        </div>
                                    </div>

                                    <!-- Privileges -->
                                    <div class="form-group" style="margin-bottom: 150px;">
                                        <label for="edit_privileges">Privileges:</label>
                                        <select name="edit_privileges" class="form-control" id="edit_privileges" multiple="multiple">
                                            <option value="">Pilih..</option>
                                            {% for row in privs %}
                                                <option value="{{row}}">{{row}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                        
                                <br>
                                <div class="float-start">
                                        <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Close</button>
                                    </div>
                                    <div class="float-end">
                                        <button type="submit" class="btn btn-success" id="editButtonRole">Edit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
    <!-- modalbox end edit role -->

        
    <!-- sweetalert2 -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="{% static 'plugins/sweetalert2/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'plugins/sweetalert2/myscript.js' %}"></script>


    <!-- Multi Select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
        $(document).ready(function() {
            // Inisialisasi Select2 setelah modal terbuka
            $('#addRole').on('shown.bs.modal', function () {
                $('#privileges').select2({
                    placeholder: "Select Privileges",
                    allowClear: true
                });
            });

            // Inisialisasi Select2 pada elemen dengan id "edit_privileges"
            $('#editRoleModal').on('shown.bs.modal', function () {
                $('#edit_privileges').select2({
                    placeholder: "Select Privileges",
                    allowClear: true
                });
            });

            //  tanpa render namun tampilan kecil
            // $('#privileges').select2({
            //     placeholder: "Select Privileges",
            //     allowClear: true
            // });

            // Tangani pengiriman formulir add role agar data menjadi [a,b,c]
            $('#addFormRole').submit(function() {
                // Ambil nilai yang dipilih dari Select2
                var selectedValues = $('#privileges').val();
                
                // Ubah nilai menjadi string dengan koma
                var privilegesString = selectedValues.join(',');

                // Assign nilai sebagai nilai dari input dengan name "privileges"
                $('input[name="privileges"]').val(privilegesString);
            });
            
            });

    </script>

    <script>
        const myModal = new bootstrap.Modal('#editRoleModal');
        $(document).ready(function($) {
            // Inisialisasi elemen Select2
            $('#edit_privileges').select2();

            $(document).on('click', '.btnEdit', function() {
                var id = $(this).data('id');

                $.ajax({
                    method: 'GET',
                    url: '/data_api?action=view_data_role',
                    data: {
                        id: id
                    },
                    success: function(res) {
                        $('#edit_name').val(id);
                        $('.edit_id').val(id);
                        if (res.data) {
                            var d = res.data;

                            // Mengambil data izin dari respons
                            var privileges = JSON.stringify(d);

                            // Menghapus ":1" dari setiap data
                            privileges = privileges.replace(/":1/g, '');

                            // Menghapus tanda kutip ganda awal dan akhir
                            privileges = privileges.replace(/"/g, '');

                            // Menghapus tanda kurung kurawal "{" dan "}"
                            privileges = privileges.substring(1, privileges.length - 1);

                            // Memasukkan data privileges ke dalam select2
                            var editPrivileges = $('#edit_privileges');
                            editPrivileges.empty();

                            $.each(privileges.split(','), function(key, value) {
                                var option = new Option(value, value);
                                editPrivileges.append(option);
                            });

                            // Memperbarui Select2
                            editPrivileges.trigger('change');

                            // Memilih opsi yang sesuai dengan data yang diambil melalui AJAX
                            $.each(privileges.split(','), function(key, value) {
                                editPrivileges.find('option:contains(' + value + ')').prop('selected', true);
                            });
                            

                            

                            // Membuka modal setelah Select2 diperbarui
                            myModal.show();
                        }
                    }
                });
            });
        });

        // Tangani pengiriman formulir add role agar data menjadi [a,b,c]
        $('#editFormRole').submit(function() {
            // Ambil nilai yang dipilih dari Select2
            var selectedValues = $('#edit_privileges').val();
            
            // Ubah nilai menjadi string dengan koma
            var privilegesString = selectedValues.join(',');

            // Assign nilai sebagai nilai dari input dengan name "privileges"
            $('input[name="edit_privileges"]').val(privilegesString);
        });

        //  edit data role
        document.getElementById("editFormRole").addEventListener("submit", function(event) {
            event.preventDefault(); // Prevent the default form submission
            var id = document.querySelector('.edit_id').value;
            var editForm = document.getElementById("editFormRole");
            editForm.action = '/edit-role/' + id; // Change the action URL
            editForm.submit(); // Submit the form
        });


    </script>


    <!-- ketika mengirim form maka tombol tambah akan disable -->
    <script>
        document.getElementById("addFormRole").addEventListener("submit", function() {
            document.getElementById("addButtonRole").disabled = true;
        });
    </script>

    <!-- ketika mengirim form maka tombol edit akan disable --> 
    <script>
        document.getElementById("editFormRole").addEventListener("submit", function() {
            document.getElementById("editButtonRole").disabled = true;
        });
    </script>


{% endblock content %}


