<!-- file dari config html -->
{% extends 'main.html' %}


<!-- wrapping content -->
{% block content %}

    <h1>Daftar Pengguna Proxmox</h1>
    <ul>
        {% for user in proxmox_users %}
            <li>{{ user.username }} - {{ user.userid }}</li>
        {% empty %}
            <li>Tidak ada pengguna Proxmox ditemukan.</li>
        {% endfor %}
    </ul>


    <!-- tombol tambah -->
    <div class="col-lg-6 col-5 text-right mb-4">
        <a href="#" data-bs-toggle="modal" data-bs-target="#addUser" class="btn btn-primary fs-4">Insert</a>
    </div>


    <!-- flash message -->
    {% for message in messages %}
    <div class="container-fluid p-0">

        <div class="alert {{ message.tags }} alert-dismissible fade show col-6" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    {% endfor %}

<!-- {% for user_data in test %}
    <p>Email: {{ user_data.email }}</p>
    <p>Enable: {{ user_data.enable }}</p>
    <p>Expire: {{ user_data.expire }}</p>
    <p>Realm Type: {{ user_data.realm_type }}</p>
    <p>User ID: {{ user_data.userid }}</p>
{% endfor %} -->

    
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="packageContainer">
                    <!-- Light table -->
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush" id="dataTable" style="width: 100%">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col" width="">No</th>
                                    <th scope="col" width="">Name</th>
                                    <th scope="col" width="">Username</th>
                                    <th scope="col" width="">Email</th>
                                    <th scope="col" width="10%">Role</th>
                                    <th scope="col" width="15%">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}  
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ user.name }}</td>
                                    <td>{{ user.username }}</td>  
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.role }}</td>    
                                    <td>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#editUser{{ user.id }}" class="btn btn-success">Edit</a>
                                        <a href="/delete-user/{{ user.id }}" class="btn btn-danger delete-user">Delete</a>
                                    </td>  
                                </tr>
                                {% endfor %} 
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- modal box edit data -->
    {% for user in users %}  
        <div class="modal fade" id="editUser{{ user.id }}" tabindex="-1"  aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card bg-white border-0 mb-0">
                            <div class="card-header bg-transparent">
                                <h2 class="card-heading text-center">Edit User</h2>
                            </div>
                            <div class="card-body">
                                <form action="/update-user/{{user.id}}" id="editFormUser" method="post">
                                    {% csrf_token %}

                                    <!-- Name-->
                                    <div class="form-group mb-4">
                                        <div class="input-group input-group-merge input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa-solid fa-id-card fa-2x "></i></span>
                                            </div>
                                            <input class="form-control" name="name" id="name" placeholder="Enter Name" type="text" autocomplete="off" value="{{user.name}}">
                                        </div>
                                    </div>


                                    <!-- Email -->
                                    <div class="form-group mb-4">
                                        <div class="input-group input-group-merge input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa-solid fa-envelope fa-2x "></i></span>
                                            </div>
                                            <input class="form-control" name="email" id="email" placeholder="Enter Email" type="text" autocomplete="off" value="{{user.email}}">
                                        </div>
                                    </div>
                                

                                    <!-- Username -->   
                                    <div class="form-group mb-4">
                                        <div class="input-group input-group-merge input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa-solid fa-user fa-2x "></i></span>
                                            </div>
                                            <input class="form-control" name="username" id="username" placeholder="Enter Username" type="text" autocomplete="off" value="{{user.username}}">
                                        </div>
                                    </div>
                                

                                    <!-- Password -->
                                    <div class="form-group mb-4">
                                        <div class="input-group input-group-merge input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa-solid fa-lock fa-2x "></i></span>
                                            </div>
                                            <input class="form-control" name="password" id="password" placeholder="Enter Password" type="password" autocomplete="off" value="{{user.password}}">
                                        </div>
                                    </div>


                                    <!-- Role -->
                                    <div class="form-group mb-4">
                                        <div class="input-group input-group-merge input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa-solid fa-users fa-2x "></i></span>
                                            </div>
                                            <select name="role" class="form-control" id="role">
                                            {% if user.role == "@pam" %}
                                                <option value="{{user.role}}" selected>PAM</option>
                                                <option value="@pve">PVE</option>
                                            {% else %} 
                                                <option value="{{user.role}}" selected>PVE</option>
                                                <option value="@pam">PAM</option>
                                            {% endif %}
                                        </select>
                                        </div>
                                    </div>
                                
                                    <br>
                                    <div class="float-start">
                                            <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Close</button>
                                        </div>
                                        <div class="float-end">
                                            <button type="submit" class="btn btn-primary " id="editButtonUser">Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    {% endfor %} 
    <!-- end modal box edit data -->



    <!-- modalbox tambah -->
    <div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="card bg-white border-0 mb-0">
                        <div class="card-header bg-transparent">
                            <h2 class="card-heading text-center">Add User</h2>
                        </div>
                        <div class="card-body">
                            <form action="/adduser" id="addFormUser" method="post">
                                {% csrf_token %}

                                <!-- Name-->
                                <div class="form-group mb-4">
                                    <div class="input-group input-group-merge input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa-solid fa-id-card fa-2x "></i></span>
                                        </div>
                                        <input class="form-control" name="name" id="name" placeholder="Enter Name" type="text" autocomplete="off" value="">
                                    </div>
                                </div>


                                <!-- Email -->
                                <div class="form-group mb-4">
                                    <div class="input-group input-group-merge input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa-solid fa-envelope fa-2x "></i></span>
                                        </div>
                                        <input class="form-control" name="email" id="email" placeholder="Enter Email" type="text" autocomplete="off" value="">
                                    </div>
                                </div>
                            

                                <!-- Username -->   
                                <div class="form-group mb-4">
                                    <div class="input-group input-group-merge input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa-solid fa-user fa-2x "></i></span>
                                        </div>
                                        <input class="form-control" name="username" id="username" placeholder="Enter Username" type="text" autocomplete="off" value="">
                                    </div>
                                </div>
                            

                                <!-- Password -->
                                <div class="form-group mb-4">
                                    <div class="input-group input-group-merge input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa-solid fa-lock fa-2x "></i></span>
                                        </div>
                                        <input class="form-control" name="password" id="password" placeholder="Enter Password" type="password" autocomplete="off" value="">
                                    </div>
                                </div>


                                <!-- Role -->
                                <div class="form-group mb-4">
                                    <div class="input-group input-group-merge input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa-solid fa-users fa-2x "></i></span>
                                        </div>
                                        <select name="role" class="form-control" id="role">
                                        <option value="">Pilih..</option>
                                        <option value="@pam">PAM</option>
                                        <option value="@pve">PVE</option>
                                    </select>
                                    </div>
                                </div>
                            
                                <br>
                                <div class="float-start">
                                        <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Close</button>
                                    </div>
                                    <div class="float-end">
                                        <button type="submit" class="btn btn-primary " id="addButtonUser">Insert</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
    <!-- end modalbox tambah -->

    <!-- ketika mengirim form maka tombol tambah akan disable -->
<script>
    document.getElementById("addFormUser").addEventListener("submit", function() {
        document.getElementById("addButtonUser").disabled = true;
    });
</script>

<!-- ketika mengirim form maka tombol edit akan disable -->
<script>
    document.getElementById("editormUser").addEventListener("submit", function() {
        document.getElementById("editButtonUser").disabled = true;
    });
</script>


{% endblock content %}


