/* Style the form */
/* #regForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
} */

/* Style the input fields */
input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
/* .tab {
    display: none;
} */




/* css multistep ketika memiliki lebih dari satu modalbox  */


/* detail network */
.tab-addContainer {
    display: none;
}

.tab-addVirtualMachine {
    display: none;
}


/* addcontainer */
/* Make circles that indicate the steps of the form: */
.step-addContainer {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step-addContainer.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step-addContainer.finish {
    background-color: #04AA6D;
}


/* addcVitualMachine */
/* Make circles that indicate the steps of the form: */
.step-addVirtualMachine {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step-addVirtualMachine.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step-addVirtualMachine.finish {
    background-color: #04AA6D;
}


/* network */
.tab-LinuxBridge {
    display: none;
}

/* network add linux bridge */
/* Make circles that indicate the steps of the form: */
.step-LinuxBridge {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step-LinuxBridge.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step-LinuxBridge.finish {
    background-color: #04AA6D;
}

.tab-LinuxBond {
    display: none;
}

/* network add linux Bond */
/* Make circles that indicate the steps of the form: */
.step-LinuxBond {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step-LinuxBond.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step-LinuxBond.finish {
    background-color: #04AA6D;
}


.tab-LinuxVlan {
    display: none;
}

/* network add linux Bond */
/* Make circles that indicate the steps of the form: */
.step-LinuxVlan {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step-LinuxVlan.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step-LinuxVlan.finish {
    background-color: #04AA6D;
}



.tab-OVSBridge {
    display: none;
}

/* network add OVSBridge */
/* Make circles that indicate the steps of the form: */
.step-OVSBridge {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step-OVSBridge.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step-OVSBridge.finish {
    background-color: #04AA6D;
}




.tab-OVSBond {
    display: none;
}

/* network add OVSBond */
/* Make circles that indicate the steps of the form: */
.step-OVSBond {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step-OVSBond.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step-OVSBond.finish {
    background-color: #04AA6D;
}


.tab-OVSIntPort {
    display: none;
}

/* network add OVSBond */
/* Make circles that indicate the steps of the form: */
.step-OVSIntPort {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step-OVSIntPort.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step-OVSIntPort.finish {
    background-color: #04AA6D;
}