<!-- file dari config html -->
{% extends 'main.html' %}


<!-- wrapping content -->
{% block content %}
    <div class="row">
        <!-- User -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                User</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{count_user}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa-regular fa-user fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Node -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Node</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{node}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa-regular fa-hard-drive fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Cluster -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Cluster</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{cluster_name}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-server fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Monitor -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Monitor</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">0</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-tv fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- resource -->
        <div class="col-12 col-md-6 col-xxl-3 d-flex order-2 order-xxl-3">
            <div class="card flex-fill w-100">
                <div class="card-header">
                    <h5 class="card-title mb-0">Resource DataCenter</h5>
                </div>
                <div class="card-body d-flex">
                    <div class="align-self-center w-100">
                        <div class="py-3">
                            <div class="chart chart-xs">
                                <canvas id="chartjs-dashboard-pie"></canvas>
                            </div>
                        </div>

                        <table class="table mb-0">
                            <tbody>
                                <p id="">Data akan ditampilkan di sini</p>
                                <tr>
                                    <td>CPU</td>
                                    <td class="text-end" id="cpu"></td>
                                </tr>
                                <tr>
                                    <td>Memori</td>
                                    <td class="text-end" id="memori"></td>

                                </tr>
                                <tr>
                                    <td>Storage</td>
                                    <td class="text-end" id="disk"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
				</div>
                
            </div>
        </div>
        <!-- location -->
        <div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
            <div class="card flex-fill w-100">
                <div class="card-header">

                    <h5 class="card-title mb-0">Real-Time</h5>
                </div>
                <div class="card-body px-4">
                    <div id="world_map" style="height:350px;"></div>
                </div>
            </div>
        </div>
        <!-- calendar -->
        <div class="col-12 col-md-6 col-xxl-3 d-flex order-1 order-xxl-1">
            <div class="card flex-fill">
                <div class="card-header">

                    <h5 class="card-title mb-0">Calendar</h5>
                </div>
                <div class="card-body d-flex">
                    <div class="align-self-center w-100">
                        <div class="chart">
                            <div id="datetimepicker-dashboard"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- log -->
    <div class="col-12 col-lg-12 col-xxl-12 order-xxl-4">
    <div class="card flex-fill">
        <div class="card-header">
            <h5 class="card-title mb-0">Log Data Center</h5>
        </div>
        <table class="table table-hover my-0">
            <thead>
                <tr>
                    <th>Time</th>
                    <th class="d-none d-xl-table-cell">PID</th>
                    <th class="d-none d-xl-table-cell">Node</th>
                    <th>User name</th>
                    <th>Description</th>
                    <th class="d-none d-md-table-cell">Tag</th>
                </tr>
            </thead>
            <tbody id="log-table-body">
            </tbody>
        </table>
    </div>
        </div>
    </div>

    <!-- resource data center -->
	<script>
        var chartData = {}; // Buat variabel kosong untuk data chart
        var chart; // Deklarasikan chart sebagai variabel global
    
        document.addEventListener("DOMContentLoaded", function() {
            var chartElement = document.getElementById("chartjs-dashboard-pie");
    
            chart = new Chart(chartElement, {
                type: "pie",
                data: {
                    labels: ["Storage", "Memori", "CPU"],
                    datasets: [{
                        data: [0, 0, 0], // Inisialisasi dengan nilai 0
                        backgroundColor: [
                            window.theme.primary,
                            window.theme.warning,
                            window.theme.danger
                        ],
                        borderWidth: 5
                    }]
                },
                options: {
                    responsive: !window.MSInputMethodContext,
                    maintainAspectRatio: false,
                    legend: {
                        display: false
                    },
                    cutoutPercentage: 75,
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem, data) {
                                var dataset = data.datasets[tooltipItem.datasetIndex];
                                var value = dataset.data[tooltipItem.index];
                                return data.labels[tooltipItem.index] + ': ' + value + '%';
                            }
                        }
                    }
                }
            });
    
            // Panggil fungsi updateChart saat data terbaru diperoleh
            ambilDataTerbaru();
        });
    
        // Fungsi untuk memperbarui data grafik
        function updateChart() {
            chart.data.datasets[0].data = [chartData.cluster_diskpercent, chartData.cluster_mempercent, chartData.cluster_cpu];
            chart.update();
        }
    </script>
    


    <!-- lokasi -->
	<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Menggunakan Geolocation API untuk mendapatkan koordinat GPS saat ini
        navigator.geolocation.getCurrentPosition(function(position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;

            // Membuat marker dengan koordinat GPS saat ini
            var markers = [{
                coords: [latitude, longitude],
                name: "Lokasi Anda"
            }];

            var map = new jsVectorMap({
                map: "world",
                selector: "#world_map",
                zoomButtons: true,
                markers: markers,
                markerStyle: {
                    initial: {
                        r: 9,
                        strokeWidth: 7,
                        strokeOpacity: 0.4,
                        fill: window.theme.primary
                    },
                    hover: {
                        fill: window.theme.primary,
                        stroke: window.theme.primary
                    }
                },
                zoomOnScroll: false
            });

            window.addEventListener("resize", () => {
                map.updateSize();
            });
        });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var today = new Date();
        var defaultDate = today.getFullYear() + "-" + (today.getMonth() + 1).toString().padStart(2, '0') + "-" + today.getDate().toString().padStart(2, '0');
        document.getElementById("datetimepicker-dashboard").flatpickr({
            inline: true,
            prevArrow: "<span title=\"Previous month\">&laquo;</span>",
            nextArrow: "<span title=\"Next month\">&raquo;</span>",
            defaultDate: defaultDate
        });
    });
</script>

<!-- Script untuk auto refresh data resource -->
<script>
    function ambilDataTerbaru() {
        // Lakukan permintaan AJAX ke server Anda untuk mendapatkan data terbaru
        // Pastikan URL endpoint yang sesuai
        fetch('/cluster-resources')
            .then(response => response.json())
            .then(data => {
                // Perbarui elemen HTML dengan data terbaru
                // cluster
                document.getElementById('cpu').textContent = `${data.cluster_cpu}% of ${data.cluster_maxcpu} CPU`;
                document.getElementById('memori').textContent = `${data.cluster_mem} GB - ${data.cluster_maxmem} GB`;
                document.getElementById('disk').textContent = `${data.cluster_disk} GB - ${data.cluster_maxdisk} GB`;
                chartData = data; // Simpan data terbaru dalam variabel chartData
                updateChart(); // Panggil fungsi updateChart untuk memperbarui grafik
            })
            .catch(error => console.error('Gagal mengambil data terbaru:', error));
    }

    // // Panggil ambilDataTerbaru saat halaman dimuat
    // ambilDataTerbaru();

    // Atur interval untuk melakukan pembaruan data setiap 60 detik
    setInterval(ambilDataTerbaru, 1000);
</script>

<!-- Elemen HTML untuk menampilkan log -->
<script>
    function ambilLogTerbaru() {
        // Lakukan permintaan AJAX ke server Anda untuk mendapatkan data terbaru
        // Pastikan URL endpoint yang sesuai
        fetch('/cluster-log')
            .then(response => response.json())
            .then(data => {
                // Dapatkan elemen <tbody> untuk memasukkan baris baru
                const tbody = document.getElementById('log-table-body');

                // Buat elemen <tr> dan <td> baru untuk menampilkan pesan log
                const newRow = tbody.insertRow(0); // Insert a new row at the top of the tbody
                const logTime = newRow.insertCell(0);
                const logPID = newRow.insertCell(1);
                const logNode = newRow.insertCell(2);
                const logUser = newRow.insertCell(3);
                const logMsg = newRow.insertCell(4);
                const logTag = newRow.insertCell(5);

                // Isi elemen <td> dengan data log terbaru
                logTime.textContent = data.log_time;
                logPID.textContent = data.log_pid;
                logNode.textContent = data.log_node;
                logUser.textContent = data.log_user;
                logMsg.textContent = data.log_msg;
                logTag.textContent = data.log_tag;

                // Batasi jumlah baris (pesan log) yang ditampilkan (misalnya, maksimal 10 baris)
                if (tbody.rows.length > 10) {
                    tbody.deleteRow(-1); // Hapus baris terakhir
                }
            })
            .catch(error => console.error('Gagal mengambil data terbaru:', error));
    }

    // Atur interval untuk melakukan pembaruan data setiap 2 detik
    setInterval(ambilLogTerbaru, 5000);
</script>

<!-- Script untuk auto refresh data log
<script>
    function ambilLogTerbaru() {
    // Lakukan permintaan AJAX ke server Anda untuk mendapatkan data terbaru
    // Pastikan URL endpoint yang sesuai
    fetch('/cluster-log')
        .then(response => response.json())
        .then(data => {
            // Perbarui elemen HTML dengan data terbaru
            // const logTime = new Date(data.log_time * 1000); // Konversi timestamp ke objek waktu
            // const formattedLogTime = logTime.toLocaleString(); // Format waktu sesuai preferensi
            document.getElementById('time').textContent = `${data.log_time}`;
            document.getElementById('PID').textContent = `${data.log_pid}`;
            document.getElementById('node').textContent = `${data.log_node}`;
            document.getElementById('user').textContent = `${data.log_user}`;
            document.getElementById('msg').textContent = `${data.log_msg}`;
            document.getElementById('tag').textContent = `${data.log_tag}`;
        })
        .catch(error => console.error('Gagal mengambil data terbaru:', error));
    }

    // Atur interval untuk melakukan pembaruan data setiap 60 detik
    setInterval(ambilLogTerbaru, 2000);
</script> -->

{% endblock content %}