    <nav id="sidebar" class="sidebar js-sidebar">
        <div class="sidebar-content js-simplebar">
            <a class="sidebar-brand" href="{% url 'proxmox' %}">
                <span class="align-middle">Cloud E-Ganesha</span>
            </a>
            <ul class="sidebar-nav">
                <li class="sidebar-header">
                    MAIN MENU
                </li>

                <!-- halaman home -->
                <li class="sidebar-item {{active_home}}">
                    <a class="sidebar-link" href="{% url 'proxmox' %}">
                    <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                    </a>
                </li>

                <!-- halaman user -->
                <li class="sidebar-item  {{active_user}}">
                    <a class="sidebar-link" href="{% url 'user' %}">
                    <i class="align-middle" data-feather="user"></i> <span class="align-middle">User</span>
                    </a>
                </li>
                
                <!-- halaman node -->
                <li class="sidebar-item {{active_node}}">
                    <a class="sidebar-link" href="{% url 'nodes' %}">
                    <i class="align-middle" data-feather="hard-drive"></i> <span class="align-middle">Node</span>
                    </a>
                </li>

                <!-- Monitor -->
                <li class="sidebar-item {{active_monitor}}">
                    <a class="sidebar-link" href="{% url 'monitors'%}">
                    <i class="align-middle" data-feather="airplay"></i> <span class="align-middle">Monitor</span>
                    </a>
                </li>
    
                <li class="sidebar-item">
                    <a class="sidebar-link logout-notif" href="{% url 'logout' %}">
                        <i class="align-middle" data-feather="log-out"></i> <span class="align-middle">Logout</span>
                    </a>
                </li>

                <!-- users -->
                <li class="sidebar-header">
                    MENU USERS
                </li>

                <li class="sidebar-item {{active_users}}">
                    <a class="sidebar-link" href="{% url 'users_all'%}">
                    <i class="align-middle" data-feather="users"></i> <span class="align-middle">Users</span>
                    </a>
                </li>

                <li class="sidebar-item {{active_package}}">
                    <a class="sidebar-link" href="{% url 'package_price'%}">
                    <i class="align-middle" data-feather="dollar-sign"></i> <span class="align-middle">Package Price</span>
                    </a>
                </li>
            </ul>
            
        </div>
    </nav>