<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* CSS tambahan */
        td.wrap-text1 {
            /* word-wrap: break-word;
            width: auto;
            color: aqua;
            background-color: red;
            text-align: justify;
            text-justify: inter-word; */
            white-space: normal;
        }
    </style>
    <style>
p.a {
  white-space: nowrap;
}

p.b {
  white-space: normal;
}

p.c {
  white-space: pre;
}
</style>
</head>
<body>
    <div class="card flex-fill">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="card-title mb-0">Data Roles</h5>
            <a href="#" data-bs-toggle="modal" data-bs-target="#addUser" class="btn btn-primary ml-auto">insert</a>
        </div>

        <h1>The white-space Property</h1>

        <h2>white-space: nowrap:</h2>
        <p class="a">
        This is some text. This is some text. This is some text.
        This is some text. This is some text. This is some text.
        This is some text. This is some text. This is some text.
        This is some text. This is some text. This is some text.
        </p>

        <h2>white-space: normal:</h2>
        <p class="b">
        This is some text. This is some text. This is some text.
        This is some text. This is some text. This is some text.
        This is some text. This is some text. This is some text.
        This is some text. This is some text. This is some text.
        </p>

        <h2>white-space: pre:</h2>
        <p class="c">
        This is some text. This is some text. This is some text.
        This is some text. This is some text. This is some text.
        This is some text. This is some text. This is some text.
        This is some text. This is some text. This is some text.
        </p>
        <table>
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>description</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="wrap-text1">1</td>
                    <td>admin</td>
                    <td class="wrap-text1"><p>
                        Datastore.Allocate,Datastore.AllocateSpace,Datastore.AllocateTemplate,Datastore.Audit,Group.Allocate,Mapping.Audit,Mapping.Use,Pool.Allocate,Pool.Audit,Realm.AllocateUser,SDN.Allocate,SDN.Audit,SDN.Use,Sys.Audit,Sys.Console,Sys.Syslog,User.Modify,VM.Allocate,VM.Audit,VM.Backup,VM.Clone,VM.Config.CDROM,VM.Config.CPU,VM.Config.Cloudinit,VM.Config.Disk,VM.Config.HWType,VM.Config.Memory,VM.Config.Network,VM.Config.Options,VM.Console,VM.Migrate,VM.Monitor,VM.PowerMgmt,VM.Snapshot,VM.Snapshot.Rollback
                    </p></td>
                    <td>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#editUser" class="btn btn-primary btn-sm">edit</a>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#deleteUser" class="btn btn-danger btn-sm">delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
