{% extends 'main.html' %}
{% load static %}

{% block content %}

<!-- main konten -->
    <!-- flash message -->
        {% for message in messages %}
        <div class="container-fluid p-0">

            <div class="alert {{ message.tags }} alert-dismissible fade show col-6" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        {% endfor %}
    <!-- end flash message -->
    
    <div class="d-flex justify-content-end pt-3">
        <a href="/node-network/{{id_node}}"  class="btn btn-success">Add Network</a>
        <div>&nbsp;&nbsp;</div>
        <a href="#" data-bs-toggle="modal" data-bs-target="#addContainer" class="btn btn-primary">Add Container</a>
        <div>&nbsp;&nbsp;</div>
        <a href="#" data-bs-toggle="modal" data-bs-target="#addVirtualMachine" class="btn btn-primary ml-2">Add Virtual Machine</a>
    </div>


    {% if container is None %}
        <div class="col-12 col-lg-12 col-xxl-12 order-xxl-4 pt-3">
            <div class="card flex-fill ">
                <div class="card-body d-flex align-items-center" style="height: 300px;">
                    <h1 class="text-center mx-auto">Container is Empty</h1>
                </div>
            </div>
        </div>
    {% else  %}
        <!-- Container -->
        <H3>Container</H3>
        <input class="id_node" type="text" value="{{id_node}}" hidden>
        <!-- <div class="row" id="data-container"> -->
        <div class="row" id="data-container">
        <!-- container -->
        <!-- {% for row in container %}
            <div class="col-12 col-md-6 col-xxl-3 d-flex order-2 order-xxl-3">
                <div class="card flex-fill w-100">
                    <div class="d-flex justify-content-end">
                        <a href="/detail-container/{{row.vmid}}" class="btn btn-primary mt-3">Detail</a>
                        <div>
                            &nbsp; &nbsp; &nbsp;
                        </div>
                    </div>


                    <div class="card-header">
                        <h5 class="card-title mb-0 pb-2">{{row.name}}</h5>
                        {% if row.status == "stopped"%}
                            <span class="badge bg-danger">Stopped</span>
                        {% else %}
                            <span class="badge bg-success">Running</span>
                        {% endif %}

                    </div>

                    <div class="py-3 mx-auto">
                        <div class="chart chart-xs">
                            <i class="align-middle me-1" data-feather="box" style="width: 180px; height: 180px;"></i>
                        </div>
                    </div>

                    <div class="card-body d-flex">
                        <div class="align-self-center w-100">
                            <table class="table mb-0">
                                <tbody>
                                    <p id="">Data akan ditampilkan di sini</p>
                                    <tr>
                                        <td>CPU</td>
                                        <td class="text-end" id="cpu"></td>
                                    </tr>
                                    <tr>
                                        <td>Memori</td>
                                        <td class="text-end" id="memori"></td>

                                    </tr>
                                    <tr>
                                        <td>Storage</td>
                                        <td class="text-end" id="disk"></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class=" pt-3">
                                <div class="text-center mt-2">
                                    <a href="/start-container/{{id_node}}/{{row.vmid}}" class="btn btn-success mr-3 start-container">Start</a>
                                    <a href="/stop-container/{{id_node}}/{{row.vmid}}" class="btn btn-warning mr-3 stop-container">Stop</a>
                                    <a href="/reboot-container/{{id_node}}/{{row.vmid}}" class="btn btn-primary mr-3 reboot-container">Reboot</a>
                                </div>

                                <div class="text-center">
                                    <a href="/remove-container/{{id_node}}//{{row.vmid}}" class="btn btn-danger mt-3 text remove-container">Remove</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        {% endfor%}   -->
        

        </div>


    {% endif %}
    

    {% if virtual_machine is None %}
        <div class="col-12 col-lg-12 col-xxl-12 order-xxl-4">
            <div class="card flex-fill ">
                <div class="card-body d-flex align-items-center" style="height: 300px;">
                    <h1 class="text-center mx-auto">Virtual Machine is Empty</h1>
                </div>
            </div>
        </div>

    {% else  %}
        <!-- Virtual Machine -->
        <H3>Virtual Machine</H3>
        <div class="row" id="data-vm"></div>
        <!-- {% for row in virtual_machine %}
            <div class="col-12 col-md-6 col-xxl-3 d-flex order-2 order-xxl-3">
                <div class="card flex-fill w-100">

                    <div class="d-flex justify-content-end">
                        <a href="/detail-virtual_machine/{{row.vmid}}" class="btn btn-primary mt-3">Detail</a>
                        <div>
                            &nbsp; &nbsp; &nbsp;
                        </div>
                    </div>

                    <div class="card-header">
                        <h5 class="card-title mb-0 pb-2">{{row.name}}</h5>
                        {% if row.status == "stopped"%}
                            <span class="badge bg-danger">Stopped</span>
                        {% else %}
                            <span class="badge bg-success">Running</span>
                        {% endif %}

                    </div>

                    <div class="py-3 mx-auto">
                        <div class="chart chart-xs">
                            <i class="align-middle me-1" data-feather="airplay" style="width: 180px; height: 180px;"></i>
                        </div>
                    </div>

                    <div class="card-body d-flex">
                        <div class="align-self-center w-100">

                            <table class="table mb-0">
                                <tbody>
                                    <p id="">Data akan ditampilkan di sini</p>
                                    <tr>
                                        <td>CPU</td>
                                        <td class="text-end" id="cpu"></td>
                                    </tr>
                                    <tr>
                                        <td>Memori</td>
                                        <td class="text-end" id="memori"></td>

                                    </tr>
                                    <tr>
                                        <td>Storage</td>
                                        <td class="text-end" id="disk"></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class=" pt-3">
                                <div class="text-center mt-2">
                                    <a href="/start-virtual_machine/{{id_node}}/{{row.vmid}}" class="btn btn-success mr-3 start-virtual_machine">Start</a>
                                    <a href="/stop-virtual_machine/{{id_node}}/{{row.vmid}}" class="btn btn-warning mr-3 stop-virtual_machine">Stop</a>
                                    <a href="/reboot-virtual_machine/{{id_node}}/{{row.vmid}}" class="btn btn-primary mr-3 reboot-virtual_machine">Reboot</a>
                                </div>

                                <div class="text-center">
                                    <a href="/remove-virtual_machine/{{id_node}}//{{row.vmid}}" class="btn btn-danger mt-3 text remove-virtual_machine">Remove</a>
                                </div>

                                
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        {% endfor%}   -->
        
    {% endif%}

        <!-- modalbox tambah Container -->
        <div class="modal fade" id="addContainer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card bg-white border-0 mb-0">
                            <div class="card-header bg-transparent">
                                <h2 class="card-heading text-center">Add Container</h2>
                            </div>

                            <!-- circles -->
                            <div style="text-align:center;margin-top:40px;">
                                <span class="step"></span>
                                <span class="step"></span>
                                <span class="step"></span>
                                <span class="step"></span>
                                <span class="step"></span>
                                <span class="step"></span>
                                <span class="step"></span>
                            </div>

                            <!-- card body -->
                            <div class="card-body">
                                <form action="{% url 'add-container' id_node=id_node %}" id="regForm" method="post">
                                    {% csrf_token %}

                                    <!-- Tab 1 -->
                                    <div class="form-group mb-4 tab">

                                        <h2 class="">General :</h2>
                                        <br>

                                        <!-- ct_id -->
                                        <label for="ct-id">CT ID : </label>
                                        <div class="input-group input-group-merge input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa-solid fa-box  fa-2x "></i></span>
                                            </div>
                                            <input class="form-control" name="ct-id" id="ct-id" placeholder="Enter CT-ID" type="number" autocomplete="off">
                                        </div>

                                        <br>

                                        <!-- hostname -->
                                        <div class="input-group input-group-merge input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa-solid fa-desktop fa-2x "></i></span>
                                            </div>
                                            <input class="form-control" name="hostname" id="hostname" placeholder="Enter Hostname" type="text" autocomplete="off">
                                        </div>

                                        <br>

                                        <!-- resource_pool -->
                                        <label for="resource_pool">Resource Pool : </label>
                                        <div class="input-group input-group-merge input-group-alternative">
                                            
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa-solid fa-earth-asia fa-2x "></i></span>
                                            </div>

                                            <select name="resource_pool" class="form-control" id="resource_pool">
                                                <option value="">Pilih..</option>
                                                
                                                {% for row in resource_pool %}
                                                    <option value="{{row.poolid}}">{{row.poolid}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <br>

                                        <!-- password -->
                                        <div class="input-group input-group-merge input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa-solid fa-lock fa-2x "></i></span>
                                            </div>
                                            <input class="form-control" name="password" id="password" placeholder="Enter Password" type="password" autocomplete="off" value="">
                                        </div>

                                        <br>

                                        <!-- ssh key -->
                                        <div class="input-group input-group-merge input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa-solid fa-key fa-2x "></i></span>
                                            </div>
                                            <input class="form-control" name="ssh_key" id="ssh_key" placeholder="Enter SSH Public KEY" type="text" autocomplete="off" value="">
                                        </div>
                                    </div>

                                    <!-- Tab 2 -->
                                    <div class="form-group mb-4 tab">

                                        <h2 class="">Templates :</h2>
                                        <br>

                                        <!-- Storage -->
                                        <label for="storage_container">Storage : </label>
                                        <div class="input-group input-group-merge input-group-alternative">
                                            
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa-solid fa-database fa-2x "></i></span>
                                            </div>

                                            <select name="storage_container" class="form-control" id="storage_container">
                                                <option value="local" selected>local</option>
                                            </select>
                                        </div>

                                        <br>

                                        <!-- Templates -->
                                        <label for="container_templated">Tempaltes : </label>
                                        <div class="input-group input-group-merge input-group-alternative">
                                            
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa-solid fa-compact-disc fa-2x "></i></span>
                                            </div>

                                            <select name="container_templated" class="form-control" id="container_templated">
                                                <option value="">Pilih..</option>
                                                {% for row in iso_container %}
                                                    <option value="{{row.volid}}">{{row.volid}} | {{row.format}} | {{row.size}} MB</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                    </div>

                                    <!-- Tab 3 -->
                                    <div class="form-group mb-4 tab">

                                        <h2 class="">Disks :</h2>
                                        <br>

                                        <!-- Storage -->
                                        <label for="storage_disk">Storage : </label>
                                        <div class="input-group input-group-merge input-group-alternative">
                                            
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa-solid fa-database fa-2x "></i></span>
                                            </div>

                                            <select name="storage_disk" class="form-control" id="storage_disk">
                                                <option value="local-lvm" selected>local-lvm</option>
                                            </select>
                                        </div>

                                        <br>

                                        <!-- Disk Size -->
                                        <label for="disk_size">Disk Size (GiB): </label>
                                        <div class="input-group input-group-merge input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa-solid fa-hard-drive fa-2x "></i></span>
                                            </div>
                                            <input class="form-control" name="disk_size" id="disk_size"  type="number" autocomplete="off" value="8">
                                        </div>

                                    </div>

                                    <!-- Tab 4 -->
                                    <div class="form-group mb-4 tab">

                                        <h2 class="">CPU :</h2>
                                        <br>

                                        <!-- Cores -->
                                        <label for="cores">Cores : </label>
                                        <div class="input-group input-group-merge input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa-solid fa-brain fa-2x "></i></span>
                                            </div>
                                            <input class="form-control" name="cores" id="cores"  type="number" autocomplete="off" value="1">
                                        </div>

                                    </div>

                                    <!-- Tab 5 -->
                                    <div class="form-group mb-4 tab">

                                        <h2 class="">Memory :</h2>
                                        <br>

                                        <!-- Memori -->
                                        <label for="memory">Memory (MiB): </label>
                                        <div class="input-group input-group-merge input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa-solid fa-sd-card fa-2x "></i></span>
                                            </div>
                                            <input class="form-control" name="memory" id="memory" type="number" autocomplete="off" value="512">
                                        </div>

                                        <!-- Swap -->
                                        <label for="memori_swap">Swap (MiB) : </label>
                                        <div class="input-group input-group-merge input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa-solid fa-sd-card fa-2x "></i></span>
                                            </div>
                                            <input class="form-control" name="memory_swap" id="memory_swap" type="number" autocomplete="off" value="512">
                                        </div>

                                    </div>

                                    <!-- Tab 6 -->
                                    <div class="form-group mb-4 tab">

                                        <h2 class="">Network :</h2>
                                        <br>

                                        <!-- Network -->
                                        <label for="network_interfaces">Interfaces : </label>
                                        <div class="input-group input-group-merge input-group-alternative">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa-solid fa-network-wired fa-2x "></i></span>
                                            </div>
                                            <select name="network_interfaces" class="form-control" id="network_interfaces">
                                                <option value="">Pilih..</option>
                                                {% for row in network %}
                                                    <option value="{{row.iface}}">{{row.iface}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>


                                    </div>

                                    <!-- Tab 7 -->
                                    <!-- Confirm -->
                                    <!-- data yang sudah dinputkan -->
                                    <div class="form-group mb-4 tab">
                                        <div class="card flex-fill">
                                            <div class="card-header">
                                                <h5 class="card-title mb-0">Confirm Configuration</h5>
                                            </div>
                                            <table class="table table-hover my-0">
                                                <thead>
                                                    <tr>
                                                        <th>KEY</th>
                                                        <th class="d-none d-xl-table-cell">VALUE</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="log-table-body">

                                                    <tr>
                                                        <td>CT ID</td>
                                                        <!-- ct-id inputan -->
                                                        <td id="confirm_ct-id"></td>
                                                    </tr>

                                                    <tr>
                                                        <td>Core</td>
                                                        <!-- core inputan -->
                                                        <td id="confirm_core"></td>
                                                    </tr>

                                                    <tr>
                                                        <td>Hostname</td>
                                                        <!-- hostname inputan -->
                                                        <td id="confirm_hostname"></td>
                                                    </tr>

                                                    <tr>
                                                        <td>Memory</td>
                                                        <!-- memory inputan -->
                                                        <td id="confirm_memory"></td>
                                                    </tr>

                                                    <tr>
                                                        <td>Net0</td>
                                                        <!-- net inputan -->
                                                        <td id="confirm_net"></td>
                                                    </tr>


                                                    <tr>
                                                        <td>ostemplate</td>
                                                        <!-- template inputan -->
                                                        <td id="confirm_ostemplate"></td>
                                                    </tr>

                                                    <tr>
                                                        <td>Pool</td>
                                                        <!-- pool inputan -->
                                                        <td id="confirm_pool"></td>
                                                    </tr>

                                                    <tr>
                                                        <td>Rootfs</td>
                                                        <!-- rootfs inputan -->
                                                        <td id="confirm_rootfs"></td>
                                                    </tr>

                                                    <tr>
                                                        <td>Swap</td>
                                                        <!-- swap inputan -->
                                                        <td id="confirm_swap"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>                            
                                    <br>

                                    <div style="overflow:auto;">
                                        <div style="float:right;">
                                        <button class="btn btn-primary" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                                        <button class="btn btn-success" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </div>
        <!-- end modalbox tambah Container -->



        <!-- modalbox tambah Virtual Machine -->
        <div class="modal fade" id="addVirtualMachine" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card bg-white border-0 mb-0">
                            <div class="card-header bg-transparent">
                                <h2 class="card-heading text-center">Add Virtual Machine</h2>
                            </div>
                            <div class="card-body">
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </div>
        <!-- end modalbox tambah Virtual Machine-->



        <!-- sweetalert2 -->
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <script src="{% static 'plugins/sweetalert2/sweetalert2.all.min.js' %}"></script>
        <script src="{% static 'plugins/sweetalert2/myscript.js' %}"></script>

        <script src="https://unpkg.com/feather-icons"></script>

        <script>
            let idNode = '';
            const idNodeInput = document.querySelector('.id_node'); // Ambil elemen input dengan class 'id_node'
            idNode = idNodeInput.value; // Ambil nilai dari input

            function createCtCard(ctData) {
                const ctCard = document.createElement('div');
                ctCard.classList.add('col-12', 'col-md-6', 'col-xxl-3', 'd-flex', 'order-2', 'order-xxl-3');

                const cardContainer = document.createElement('div');
                cardContainer.classList.add('card', 'flex-fill', 'w-100');
                ctCard.appendChild(cardContainer);

                const ctDetail = document.createElement('div');
                ctDetail.classList.add('d-flex', 'justify-content-end');
                cardContainer.appendChild(ctDetail);

                const detailLink = document.createElement('a');
                detailLink.classList.add('btn', 'btn-primary', 'mt-3');
                detailLink.href = `/detail-container/${ctData.container_vmid}`;
                detailLink.textContent = 'Detail';
                ctDetail.appendChild(detailLink);

                const detailSpace = document.createElement('div');
                detailSpace.innerHTML = '&nbsp; &nbsp; &nbsp;';
                ctDetail.appendChild(detailSpace);

                const cardHeader = document.createElement('div');
                cardHeader.classList.add('card-header');
                cardContainer.appendChild(cardHeader);

                const ctName = document.createElement('h5');
                ctName.classList.add('card-title', 'mb-0', 'pb-2');
                ctName.textContent = ctData.container_name;
                cardHeader.appendChild(ctName);

                const ctStatus = document.createElement('span');
                ctStatus.classList.add('badge', ctData.container_status === "running" ? 'bg-success' : 'bg-danger');
                ctStatus.textContent = ctData.container_status;
                cardHeader.appendChild(ctStatus);

                const chartContainer = document.createElement('div');
                chartContainer.classList.add('py-3', 'mx-auto');

                const chartIconContainer = document.createElement('div');
                chartIconContainer.classList.add('chart', 'chart-xs');
                cardContainer.appendChild(chartContainer);

                const chartIcon = document.createElement('i');
                chartIcon.classList.add('align-middle', 'me-1');
                chartIcon.setAttribute('data-feather', 'box');
                chartIcon.style.width = '180px';
                chartIcon.style.height = '180px';

                chartIconContainer.appendChild(chartIcon);
                chartContainer.appendChild(chartIconContainer);

                const cardBody = document.createElement('div');
                cardBody.classList.add('card-body', 'd-flex');
                cardContainer.appendChild(cardBody);

                const cardRow = document.createElement('div');
                cardRow.classList.add('align-items-center', 'w-100');
                cardBody.appendChild(cardRow);

                const table = document.createElement('table');
                table.classList.add('table', 'mb-0');
                cardRow.appendChild(table);

                const tableBody = document.createElement('tbody');
                table.appendChild(tableBody);

                const rows = [
                    { label: 'CPU', value: `${ctData.container_cpu}% of ${ctData.container_maxcpu} CPU` },
                    { label: 'Memori', value: `${ctData.container_mem} GB - ${ctData.container_maxmem} GB` },
                    { label: 'Storage', value: `${ctData.container_disk} GB - ${ctData.container_maxdisk} GB` },
                    { label: 'Uptime', value: `${ctData.container_hours} jam ${ctData.container_minutes} menit ${ctData.container_seconds} detik` }
                ];

                rows.forEach(rowData => {
                    const row = document.createElement('tr');
                    const cellLabel = document.createElement('td');
                    cellLabel.textContent = rowData.label;
                    const cellValue = document.createElement('td');
                    cellValue.textContent = rowData.value;
                    cellValue.classList.add('text-end');
                    row.appendChild(cellLabel);
                    row.appendChild(cellValue);
                    tableBody.appendChild(row);
                });
                
                const textCenterDiv = document.createElement('div');
                textCenterDiv.classList.add('text-center', 'mt-2');
                cardRow.appendChild(textCenterDiv);

                const buttons = [
                    { label: 'Start', href: `/start-container/${idNode}/${ctData.container_vmid}`, class: 'btn btn-success mr-3 start-container' },
                    { label: 'Stop', href: `/stop-container/${idNode}/${ctData.container_vmid}`, class: 'btn btn-warning mr-3 stop-container' },
                    { label: 'Reboot', href: `/reboot-container/${idNode}/${ctData.container_vmid}`, class: 'btn btn-primary mr-3 reboot-container' },
                    // { label: 'Remove', href: `/remove-container/${ctData.container_vmid}`, class: 'btn btn-danger mt-5 text remove-container' }
                ];

                buttons.forEach(buttonData => {
                    const button = document.createElement('a');
                    button.setAttribute('href', buttonData.href);
                    button.classList.add(...buttonData.class.split(' ')); // Menambahkan kelas-kelas tombol
                    button.textContent = buttonData.label;
                    textCenterDiv.appendChild(button);
                });

                const removeDiv = document.createElement('div');
                removeDiv.classList.add('text-center');
                cardRow.appendChild(removeDiv);

                const removeLink = document.createElement('a');
                removeLink.setAttribute('href', `/remove-container/${idNode}/${ctData.container_vmid}`);
                removeLink.classList.add('btn', 'btn-danger', 'mt-3', 'text', 'remove-container');
                removeLink.textContent = 'Remove';
                removeDiv.appendChild(removeLink);


                return ctCard;
            }
            
            function ambilDataCtTerbaru() {
                const idNodeInput = document.querySelector('.id_node'); // Ambil elemen input dengan class 'id_node'
                idNode = idNodeInput.value; // Ambil nilai dari input
    
                fetch(`/data_api?action=view_data_ct_resources&id_node=${idNode}`, {
                    method: 'GET',
                })
                .then(response => response.json())
                .then(data => {
                    const dataContainer = document.getElementById('data-container');
                    dataContainer.innerHTML = '';
    
                    let ctsData = data.container_data;
                    ctsData.sort((a, b) => a.container_name.localeCompare(b.container_name));
    
                    ctsData.forEach(ctData => {
                        const ctCard = createCtCard(ctData);
                        dataContainer.appendChild(ctCard);
                    });
                    // Memanggil fungsi Feather Icons untuk merender ikon
                    feather.replace();
                })
                .catch(error => console.error('Gagal mengambil data terbaru:', error));
            }
    
            
            // Atur interval untuk melakukan pembaruan data setiap 60 detik
            setInterval(ambilDataCtTerbaru, 1000); // 60000 ms = 60 detik
        </script>



        <script>
            function createVmCard(vmData) {
                const vmCard = document.createElement('div');
                vmCard.classList.add('col-12', 'col-md-6', 'col-xxl-3', 'd-flex', 'order-2', 'order-xxl-3');

                const cardContainer = document.createElement('div');
                cardContainer.classList.add('card', 'flex-fill', 'w-100');
                vmCard.appendChild(cardContainer);

                const vmDetail = document.createElement('div');
                vmDetail.classList.add('d-flex', 'justify-content-end');
                cardContainer.appendChild(vmDetail);

                const detailLink = document.createElement('a');
                detailLink.classList.add('btn', 'btn-primary', 'mt-3');
                detailLink.href = `/detail-vm/${vmData.vm_name}`;
                detailLink.textContent = 'Detail';
                vmDetail.appendChild(detailLink);

                const detailSpace = document.createElement('div');
                detailSpace.innerHTML = '&nbsp; &nbsp; &nbsp;';
                vmDetail.appendChild(detailSpace);

                const cardHeader = document.createElement('div');
                cardHeader.classList.add('card-header');
                cardContainer.appendChild(cardHeader);

                const vmName = document.createElement('h5');
                vmName.classList.add('card-title', 'mb-0', 'pb-2');
                vmName.textContent = vmData.vm_name;
                cardHeader.appendChild(vmName);

                const vmStatus = document.createElement('span');
                vmStatus.classList.add('badge', vmData.container_status === "running" ? 'bg-success' : 'bg-danger');
                vmStatus.textContent = vmData.container_status;
                cardHeader.appendChild(vmStatus);

                const chartContainer = document.createElement('div');
                chartContainer.classList.add('py-3', 'mx-auto');

                const chartIconContainer = document.createElement('div');
                chartIconContainer.classList.add('chart', 'chart-xs');

                const chartIcon = document.createElement('i');
                chartIcon.classList.add('align-middle', 'me-1');
                chartIcon.setAttribute('data-feather', 'airplay');
                chartIcon.style.width = '180px';
                chartIcon.style.height = '180px';

                chartIconContainer.appendChild(chartIcon);
                chartContainer.appendChild(chartIconContainer);
                cardContainer.appendChild(chartContainer);

                const cardBody = document.createElement('div');
                cardBody.classList.add('card-body', 'd-flex');
                cardContainer.appendChild(cardBody);

                const cardRow = document.createElement('div');
                cardRow.classList.add('align-items-center', 'w-100');
                cardBody.appendChild(cardRow);

                const table = document.createElement('table');
                table.classList.add('table', 'mb-0');
                cardRow.appendChild(table);

                const tableBody = document.createElement('tbody');
                table.appendChild(tableBody);

                const rows = [
                    { label: 'CPU', value: `${vmData.vm_cpu}% of ${vmData.vm_maxcpu} CPU` },
                    { label: 'Memori', value: `${vmData.vm_mem} GB - ${vmData.vm_maxmem} GB` },
                    { label: 'Storage', value: `${vmData.vm_disk} GB - ${vmData.vm_maxdisk} GB` },
                    { label: 'Uptime', value: `${vmData.vm_hours} jam ${vmData.vm_minutes} menit ${vmData.vm_seconds} detik` }
                ];

                rows.forEach(rowData => {
                    const row = document.createElement('tr');
                    const cellLabel = document.createElement('td');
                    cellLabel.textContent = rowData.label;
                    const cellValue = document.createElement('td');
                    cellValue.textContent = rowData.value;
                    cellValue.classList.add('text-end');
                    row.appendChild(cellLabel);
                    row.appendChild(cellValue);
                    tableBody.appendChild(row);
                });

                // const textCenterDiv = document.createElement('div');
                // textCenterDiv.classList.add('text-center', 'mt-2');
                // cardRow.appendChild(textCenterDiv);

                // const startLink = document.createElement('a');
                // startLink.setAttribute('href', `/start-container/${idNode}/${vmData.vm_vmid}`);
                // startLink.classList.add('btn', 'btn-success', 'mr-3', 'start-container');
                // startLink.textContent = 'Start';
                // textCenterDiv.appendChild(startLink);

                // const stopLink = document.createElement('a');
                // stopLink.setAttribute('href', `/stop-container/${idNode}/${vmData.vm_vmid}`);
                // stopLink.classList.add('btn', 'btn-warning', 'mr-3', 'stop-container');
                // stopLink.textContent = 'Stop';
                // textCenterDiv.appendChild(stopLink);

                // const rebootLink = document.createElement('a');
                // rebootLink.setAttribute('href', `/reboot-container/${idNode}/${vmData.vm_vmid}`);
                // rebootLink.classList.add('btn', 'btn-primary', 'mr-3', 'reboot-container');
                // rebootLink.textContent = 'Reboot';
                // textCenterDiv.appendChild(rebootLink);

                

                const textCenterDiv = document.createElement('div');
                textCenterDiv.classList.add('text-center', 'mt-2');
                cardRow.appendChild(textCenterDiv);

                const buttons = [
                    { label: 'Start', href: `/start-container/${idNode}/${vmData.vm_vmid}`, class: ('btn btn-success mr-3 start-virtual_machine') },
                    { label: 'Stop', href: `/stop-container/${idNode}/${vmData.vm_vmid}`, class: ('btn btn-warning mr-3 stop-virtual_machine') },
                    { label: 'Reboot', href: `/reboot-container/${idNode}/${vmData.vm_vmid}`, class: ('btn btn-primary mr-3 reboot-virtual_machine') },
                    // { label: 'Remove', href: `/remove-container/${vmData.container_vmid}`, class: ('btn', 'btn-danger', 'mt-3', 'text', 'remove-container') }
                ];

                buttons.forEach(buttonData => {
                    const button = document.createElement('a');
                    button.setAttribute('href', buttonData.href);
                    button.classList.add(...buttonData.class.split(' ')); // Menambahkan kelas-kelas tombol
                    button.textContent = buttonData.label;
                    textCenterDiv.appendChild(button);
                });

                const removeDiv = document.createElement('div');
                removeDiv.classList.add('text-center');
                cardRow.appendChild(removeDiv);

                const removeLink = document.createElement('a');
                removeLink.setAttribute('href', `/remove-container//${idNode}/${vmData.vm_vmid}`);
                removeLink.classList.add('btn', 'btn-danger', 'mt-3', 'text', 'remove-virtual_machine');
                removeLink.textContent = 'Remove';
                removeDiv.appendChild(removeLink);

                return vmCard;
            }

        function ambilDataVmTerbaru() {

            fetch(`/data_api?action=view_data_vm_resources&id_node=${idNode}`, {
                method: 'GET',
            })
            .then(response => response.json())
            .then(data => {
                const dataContainer = document.getElementById('data-vm');
                dataContainer.innerHTML = '';

                let vmsData = data.vm_data;
                vmsData.sort((a, b) => a.vm_name.localeCompare(b.vm_name));

                vmsData.forEach(vmData => {
                    const vmCard = createVmCard(vmData);
                    dataContainer.appendChild(vmCard);
                });
                // Memanggil fungsi Feather Icons untuk merender ikon
                feather.replace();
            })
            .catch(error => console.error('Gagal mengambil data terbaru:', error));
        }

        
        // Atur interval untuk melakukan pembaruan data setiap 60 detik
        setInterval(ambilDataVmTerbaru, 1000); // 60000 ms = 60 detik
        </script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- scripts data history inputan -->
        <script>
            // Function to update the confirmation table
            function updateConfirmationTable() {
                // Get the values from the input fields
                var disk_size = document.getElementById("disk_size").value;
                var storage_disk = document.getElementById("storage_disk").value;
                var rootfs = storage_disk + ":" + disk_size

                var ct_id = document.getElementById("ct-id").value;
                var network_interfaces = document.getElementById("network_interfaces").value;
                var cores = document.getElementById("cores").value;
                var memory = document.getElementById("memory").value + " MB";
                var swap = document.getElementById("memory_swap").value + " MB";
                var hostname = document.getElementById("hostname").value;

                // Get the values from the select fields
                var ostemplateSelect = document.getElementById("container_templated");
                var resourcePoolSelect = document.getElementById("resource_pool");

                var ostemplate = ostemplateSelect.options[ostemplateSelect.selectedIndex].text;
                var resourcePool = resourcePoolSelect.options[resourcePoolSelect.selectedIndex].text;


                // Update the confirmation table cells
                document.getElementById("confirm_rootfs").textContent = rootfs;
                document.getElementById("confirm_net").textContent = network_interfaces;
                document.getElementById("confirm_ct-id").textContent = ct_id;
                document.getElementById("confirm_hostname").textContent = hostname;
                document.getElementById("confirm_pool").textContent = resourcePool;
                document.getElementById("confirm_core").textContent = cores;
                document.getElementById("confirm_memory").textContent = memory;
                document.getElementById("confirm_swap").textContent = swap;
                document.getElementById("confirm_ostemplate").textContent = ostemplate;

            }

            // Add an event listener to the input field to trigger the update
            document.getElementById("network_interfaces").addEventListener("input", updateConfirmationTable);
            document.getElementById("disk_size").addEventListener("input", updateConfirmationTable);
            document.getElementById("storage_disk").addEventListener("change", updateConfirmationTable);
            document.getElementById("hostname").addEventListener("input", updateConfirmationTable);
            document.getElementById("cores").addEventListener("input", updateConfirmationTable);
            document.getElementById("memory").addEventListener("input", updateConfirmationTable);
            document.getElementById("memory_swap").addEventListener("input", updateConfirmationTable);
            document.getElementById("ct-id").addEventListener("input", updateConfirmationTable);
            

            
            // Add an event listener to the select element to trigger the update
            document.getElementById("resource_pool").addEventListener("change", updateConfirmationTable);
            document.getElementById("container_templated").addEventListener("change", updateConfirmationTable);
        </script>



        <!-- script multistep -->
        <script>
            var currentTab = 0; // Current tab is set to the first tab (0)
            showTab(currentTab); // Display the current tab

            function showTab(n) {
                // This function will display the specified tab of the form...
                var x = document.getElementsByClassName("tab");
                x[n].style.display = "block";
                // ... and fix the Previous/Next buttons:
                if (n == 0) {
                    document.getElementById("prevBtn").style.display = "none";
                } else {
                    document.getElementById("prevBtn").style.display = "inline";
                }
                if (n == (x.length - 1)) {
                    document.getElementById("nextBtn").innerHTML = "Submit";
                } else {
                    document.getElementById("nextBtn").innerHTML = "Next";
                }
                // ... and run a function that will display the correct step indicator:
                fixStepIndicator(n);
            }

            function nextPrev(n) {
                // This function will figure out which tab to display
                var x = document.getElementsByClassName("tab");

                // Exit the function if any field in the current tab is invalid:
                // if (n == 1 && !validateForm()) return false;
                // Hide the current tab:


                x[currentTab].style.display = "none";
                // Increase or decrease the current tab by 1:
                currentTab = currentTab + n;
                // if you have reached the end of the form...
                if (currentTab >= x.length) {
                    // ... the form gets submitted:
                    document.getElementById("regForm").submit();
                    return false;
                }
                // Otherwise, display the correct tab:
                showTab(currentTab);
            }

            function validateForm() {
                // This function deals with the validation of the form fields
                var x, y, i, valid = true;
                x = document.getElementsByClassName("tab");
                y = x[currentTab].getElementsByTagName("input");
                // A loop that checks every input field in the current tab:
                for (i = 0; i < y.length; i++) {
                    // If a field is empty...
                    if (y[i].value == "") {
                        // add an "invalid" class to the field:
                        y[i].className += " invalid";
                        // and set the current valid status to false
                        valid = false;
                    }
                }
                // If the valid status is true, mark the step as finished and valid:
                if (valid) {
                    document.getElementsByClassName("step")[currentTab].className += " finish";
                }
                return valid; // return the valid status
            }

            function fixStepIndicator(n) {
                // This function removes the "active" class of all steps...
                var i, x = document.getElementsByClassName("step");
                for (i = 0; i < x.length; i++) {
                    x[i].className = x[i].className.replace(" active", "");
                }
                //... and adds the "active" class to the current step:
                x[n].className += " active";
            }
        </script>


<!-- end konten -->
{% endblock content %}